<!DOCTYPE html>
<html lang="en">
<head>
  <title>Aerosol</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

  <h1>Aerosol <small>The effect of including aerosols in atmosphere radiation</small></h1>


  <h2>Shortwave effects</h2>


    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th>Output reference</th>
            <th>RTM</th>
            <th>RTM1</th>
            <th>RTM2</th>
            <th>RTM3</th>
          </tr>
          <tr>
            <th>Model name</th>
    	<th>RRTMG</th>
    	<th>RRTMG</th>
    	<th>CLIRAD</th>
    	<th>CLIRAD</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>SW</td>
            <td><span class="glyphicon glyphicon-plus"></span></td>
            <td><span class="glyphicon glyphicon-minus"></span></td>
            <td><span class="glyphicon glyphicon-plus"></span></td>
    	<td><span class="glyphicon glyphicon-minus"></span></td>
          </tr>
          <tr>
            <td>LW</td>
            <td><span class="glyphicon glyphicon-minus"></span></td>
            <td><span class="glyphicon glyphicon-minus"></span></td>
            <td><span class="glyphicon glyphicon-minus"></span></td>
    	<td><span class="glyphicon glyphicon-minus"></span></td>
          </tr>
        </tbody>
        </table>
      </div>
      <div class="panel-footer">
        <a href="http://nbviewer.ipython.org/github/qAp/SCAM_radiation_notebooks/blob/master/arm95_-_LW_RRTMGaer_SW_RRTMG_-_LW_CLIRADaer_CLIRAD_SW_CLIRAD_CLIRAD.ipynb" class="btn btn-link" role="button">RTM3 - RTM2</a>
        <a href="#" class="btn btn-link" role="button">RTM - RTM1</a>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table table-condensed table-bordered">
          <thead>
            <tr>
              <th>output reference</th>
      	<th>RTM <span class="glyphicon glyphicon-plus"></span></th>
            </tr>
             <tr>
              <th>Model name</th>
      	<th>CLIRAD</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>SW</td>
      	<td><span class="glyphicon glyphicon-plus"></span></td>
            </tr>
             <tr>
              <td>LW</td>
      	<td><span class="glyphicon glyphicon-minus"></span></td>
            </tr>
          </tbody>
        </table>
  
  
        <table class="table table-condensed table-bordered">
          <thead>
            <tr>
              <th>output reference</th>
      	<th>RTM <span class="glyphicon glyphicon-minus"></span></th>
            </tr>
            <tr>
              <th>Model name</th>
      	<th>CLIRAD</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>SW</td>
              <td><span class="glyphicon glyphicon-minus"></span></td>
            </tr>
            <tr>
              <td>LW</td>
      	    <td><span class="glyphicon glyphicon-minus"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="panel-footer">
        <button type="button" class="btn btn-link">
          <a href="#">
            <span style="font-weight:bold">RTM</span> <span class="glyphicon glyphicon-plus"></span>
            - RTM<span class="glyphicon glyphicon-minus"></span>
          </a>
        </button>
      </div>
    </div>

    
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table table-condensed table-bordered">
          <thead>
            <tr>
              <th>output reference</th>
      	<th>RTM <span class="glyphicon glyphicon-plus"></span></th>
            </tr>
            <tr>
              <th>Model name</th>
      	<th>RRTMG</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>SW</td>
      	<td><span class="glyphicon glyphicon-plus"></span></td>
            </tr>
             <tr>
              <td>LW</td>
      	<td><span class="glyphicon glyphicon-minus"></span></td>
            </tr>
          </tbody>
        </table>
      
      
        <table class="table table-condensed table-bordered">
          <thead>
            <tr>
              <th>output reference</th>
      	<th>RTM <span class="glyphicon glyphicon-minus"></span></th>
            </tr>
            <tr>
              <th>Model name</th>
      	<th>RRTMG</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>SW</td>
      	<td><span class="glyphicon glyphicon-minus"></span></td>
            </tr>
             <tr>
              <td>LW</td>
      	<td><span class="glyphicon glyphicon-minus"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="panel-footer">
      </div>
    </div>

  



  



</div>

</body>